@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Reset - สั่งทุกตัวให้เริ่มที่ 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ทำให้ padding ไม่ไปดันขนาดกล่องให้เพี้ยน */
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #25343F; /* สีหลัก */
    --text-color: #FF9B51;
    --bg-color: #EAEFEF;
}

body {
    height: 100vh; /* 100vh=สูงเต็มจอ*/
    background: var(--primary-color);
}

.navbar {
    display: flex; /* เปิดโหมด flex */
    align-items: center; /* กึ่งกลางแนวตั้ง */
    justify-content: space-between; /* กระจายซ้ายขวา (ใช้บ่อยกับ navbar) */
    height: 80px;
    padding: 0 50px;
}

.navbar h2 {
    color: var(--text-color);
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none; /* ลบ bullet ออก */
}

.navbar ul li a {
    text-decoration: none; /* ลบเส้นใต้ของลิงก์ */
    color: var(--bg-color);
    font-size: 16px;
    margin-right: 25px; /* ระยะห่างภายนอกทางขวา */
    transition: color 0.5s ease; /* เปลี่ยนสีใน 0.5 วินาที อย่างนุ่มนวล */
}

.navbar ul li:hover a {
    color: var(--text-color); /* เมื่อ hover จะเปลี่ยนสี */
}

.navbar ul li:last-child a {
    margin: 0;
}